In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=2000)
lngs = np.random.uniform(low=-180.000, high=180.000, size=2000)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

753

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=89d9c6217790a0d17f86969c13af87d4

In [8]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [9]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | tsurib
Processing Record 2 of Set 1 | rikitea
Processing Record 3 of Set 1 | bredasdorp
Processing Record 4 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 5 of Set 1 | phangnga
Processing Record 6 of Set 1 | el paisnal
Processing Record 7 of Set 1 | new norfolk
Processing Record 8 of Set 1 | barrow
Processing Record 9 of Set 1 | atuona
Processing Record 10 of Set 1 | nanortalik
Processing Record 11 of Set 1 | albany
Processing Record 12 of Set 1 | hermanus
Processing Record 13 of Set 1 | reggio di calabria
Processing Record 14 of Set 1 | port alfred
Processing Record 15 of Set 1 | ivrea
Processing Record 16 of Set 1 | kapaa
Processing Record 17 of Set 1 | mahebourg
Processing Record 18 of Set 1 | samana
Processing Record 19 of Set 1 | bluff
Processing Record 20 of Set 1 | kahului
Processing Record 21 of Set 1 | manyana
Processing Record 22 of Set 1 | torbay
Processing Record 23 of Set 1 | tiksi
Processing Record 24 of Set 1 | ushuaia
Processing Record 25 of Set 1 | iqaluit
Processing Record 26 of Set 1 | provideniya
Processing Record 27 of Set 1 | gizo
Processing Record 28 of Set 1 | san patricio
Processing Record 29 of Set 1 | kapit
Processing Record 30 of Set 1 | chuy
Processing Record 31 of Set 1 | mbandaka
Processing Record 32 of Set 1 | brigantine
Processing Record 33 of Set 1 | saint-philippe
Processing Record 34 of Set 1 | marawi
Processing Record 35 of Set 1 | anzio
Processing Record 36 of Set 1 | carnarvon
Processing Record 37 of Set 1 | vaini
Processing Record 38 of Set 1 | caravelas
Processing Record 39 of Set 1 | assiniboia
Processing Record 40 of Set 1 | maniitsoq
Processing Record 41 of Set 1 | mataura
Processing Record 42 of Set 1 | dembi dolo
Processing Record 43 of Set 1 | altamira
Processing Record 44 of Set 1 | coahuayana
Processing Record 45 of Set 1 | kermanshah
Processing Record 46 of Set 1 | sao simao
Processing Record 47 of Set 1 | hobart
Processing Record 48 of Set 1 | port elizabeth
Processing Record 49 of Set 1 | thompson
Processing Record 50 of Set 1 | faya

KeyboardInterrupt:

In [10]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tsurib,42.2368,46.8307,21.67,69,16,8.23,RU,2022-02-14 01:50:17
1,Rikitea,-23.1203,-134.9692,79.00,70,3,14.58,PF,2022-02-14 01:50:17
2,Bredasdorp,-34.5322,20.0403,65.52,72,99,9.22,ZA,2022-02-14 01:50:18
3,Phangnga,8.4509,98.5298,84.81,77,90,3.96,TH,2022-02-14 01:50:19
4,El Paisnal,13.9736,-89.2186,80.67,62,0,4.97,SV,2022-02-14 01:50:19
5,New Norfolk,-42.7826,147.0587,69.66,53,96,1.99,AU,2022-02-14 01:50:20
6,Barrow,71.2906,-156.7887,-27.38,68,0,9.22,US,2022-02-14 01:50:02
7,Atuona,-9.8000,-139.0333,77.61,79,17,13.56,PF,2022-02-14 01:50:20
8,Nanortalik,60.1432,-45.2371,20.71,94,100,27.20,GL,2022-02-14 01:41:55
9,Albany,42.6001,-73.9662,22.17,57,29,1.01,US,2022-02-14 01:50:21

In [11]:
len(city_data)

49